.nothing__main-context{

    align-items:center;
    background-color:$google-blue;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100vh;
    box-shadow: inset 0 0 5px grey;
    

    p{
        text-align:center;
    }
   

}